# IntelliJ
.idea/
**/.idea/
*.iml

# Backend
mockstocks-backend/build/
mockstocks-backend/.gradle/

# Frontend
mockstocks-frontend/node_modules/
mockstocks-frontend/dist/

# Environment
.env
*.local
mockstocks-backend/src/main/resources/application-secret.properties

# OS
.DS_Store
Thumbs.db